[Desktop Entry]
Name=计算器
GenericName=计算器
Comment[zh_CN]=计算器
Exec=/home/lhjok/.opt/calc/calc %F
StartupWMClass=calc
Terminal=false
Type=Application
Icon=/home/lhjok/.opt/calc/calculator.png
